.helmets {
	.list-items {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start; 
		margin: 0 -6px;
	}
	.list-item {
		padding: 6px;
		box-sizing: border-box;
		width: calc(100% / 5);
		width: 228px;
	}
	.list-item__inner {
		padding: 12px  18px;
		padding-bottom: 0;
		border: 4px solid #E0E0E0;
		border-radius: 6px;
	}
	.list-item__detail {
		margin-bottom: 12px;
	}
	.list-item__detail__icon {
		font-size: 1.1rem;
		margin-right: 12px;
	}
}
.helmets__heading {
	margin-top: 20px;
	margin-bottom: 12px;
}