.home {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	color: #555;
}
.navbar {
	background-color: #EEF1F6;
	padding: 12px 18px;
	color: #222;
	border-bottom: 1px solid #e0e0e0;
}
.sidebar {
	overflow: auto;
	width: 250px;
	background-color: #EEF1F6;
}
.workers {
	padding: 20px 20px;
	width: 400px;
	border-right: 1px solid #E0E0E0;
	margin-right: 20px;
}
.home__content__elem2 {
	overflow: auto;
	padding-right: 20px;
	padding-top: 20px;
}
.worker-info, .worker-activity {
	padding: 0 20px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 24px;
	padding-bottom: 24px;
}
.helmets {
	padding: 0 20px;
	padding-bottom: 20px;
}
.flex {
	display: flex;
}
.grow {
	flex-grow: 1;
}
.height-blocked {
	height: 0;
}
.width-blocked {
	width: 0;
}
@media (max-width: 1365px) {
	.sidebar {
		display: none;
	}
}
@media (max-width: 1280px) {
	.workers {
		width: 320px;
	}
}
@media (max-width: 1023px) {
	.flex {
		display: initial;
	}
	.grow {
		flex-grow: unset;
	}
	.height-blocked {
		height: unset;
	}
	.width-blocked {
		width: unset;
	}
	.home__content {
		flex-grow: 1;
		height: 0;
		overflow: auto;
	}
	.home__content__elem1 {
		display: flex;
		flex-direction: column;
	}
	.workers {
		width: unset;
		order: 1;
	}
	.worker-activity__chart {
		flex-grow: 1;
	}
}