.navbar {
	display: flex;
	justify-content: space-between;
}
.navbar__elem1 {
	align-items: flex-end;
}
.navbar__info__elem1 {
	margin-bottom: 2px;
	font-size: .9rem;
}
.navbar__info__elem2 {
	font-size: 1.3rem;
	font-weight: bold;
}
.navbar__user-avatar {
	font-size: 1.2rem;
	margin-right: 6px;
}
.navbar__user__name {
	margin-right: 4px;
}
.navbar__user-site {
	margin-right: 30px;
}
.navbar__brand {
	flex-direction: column;
	margin-right: 30px;
	user-select: none;
}
.navbar__brand__logo {
	background-image: url('/imgs/banner.png');
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 2px;
}
.navbar__brand__name {
	font-size: 1.2rem;
	letter-spacing: 1px;
}