#app {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: unset;
}
p {
	margin: unset;
}
hr {
	border-style: unset;
	margin: 8px 0;
	border-bottom: 1px solid black;
}
img {
	display: inline-flex;
}
label {
	display: inline-flex;
}
span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
} 
textarea {
	display: inline-flex;
	min-height: 32px;
	padding: unset;
	outline: unset;
	border: unset;
	font-family: inherit;
}
select {
	display: inline-flex;
	outline: unset;
	font-family: inherit;
}
button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: unset;
	box-sizing: unset;
	text-align: unset;
	color: unset;
	border: unset;
	font-family: inherit;
	margin: unset;
	padding: unset;
	outline: unset;
}
a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	color: unset;
}
ul {
	list-style-type: none;
	margin: unset;
	padding: unset;
}