.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.el-menu {
		background-color: transparent;
	}
}
.sidebar__footer-btn {
	flex-shrink: 0;
	margin: 10px !important;
}