.workers {
	display: flex;
	flex-direction: column;
	.el-pagination {
		margin: 0 auto;
	}
	.list-items {
		overflow: auto;
		margin: 20px 0;
	}
	.list-item {
		margin-bottom: 8px;
	}
	.list-item__btn {
		flex-direction: column;
		align-items: unset;
		width: 100%;
		padding: 20px;
		background-color: #f3f3f3;
		box-sizing: border-box;
		border-radius: 3px;
		transition: .05s;
		.card {
			justify-content: space-between;
		}
		&:hover {
			background-color: darken(#f3f3f3, 3%);
			color: #333;
		}
		&:active {
			background-color: darken(#f3f3f3, 6%)
		}
	}
}