.worker-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.worker-info__elem1, .worker-info__elem2 {
	margin-right: 50px;
	margin-bottom: 16px;
}
.worker-info__elem2 {
	.asset-id {
		margin-bottom: 8px;
	}
	.prop-name {
		font-weight: bold;
		margin-right: 12px;
	}
}
.worker-info__elem3 {
	margin-left: auto;
}