.worker-activity {
	display: flex;
	align-items: flex-start;
}
.worker-activity__cards {
	display: flex;
	flex-direction: column;
}
.worker-activity__card {
	margin-bottom: 24px;
}
.worker-activity__chart {
	text-align: center;
	img {
		width: 202px;
	}
}